<button id="myBtn2" data-toggle="modal" data-target="#myModal15" class="btn btn-primary">
  <span><%= t(".assgin_trainees") %></span>
</button>
<div class="modal" id="myModal15">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t(".add_trainees") %></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= render partial: "trainer/assign_trainees/assign" %>
      </div>
    </div>
  </div>
</div>
