<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalCLogin" class="myModal">
  <%= form_for [:trainer,@course] , url: trainer_course_assign_trainee_path(@course) do |f|%>
    <div class="field">
        <%= f.label "Add Trainees" %><br/>
          <%= collection_select(:trainees, :id, @find_trainees , :id, :name, {}, {:multiple => true, class: "ui fluid  selection dropdown"}) %>
    </div>
    <%= f.button t(".assgin_trainees"), class: "btn btn-primary", type:"sumbit" %>
  <% end %>
</div>
