<div id="colorlib-hero" class="js-fullheight" data-section="home">
  <h1>List Subjects</h1>
  <% all_subjects.each do |group_subject| %>
    <div class="col-sm-4">
      <% group_subject.compact.each do|subject| %>
        <li><%= link_to subject.name , supervisor_subject_path(subject) , class:"btn btn-info" %></li>
      <% end%>
    </div>
  <%end%>
</div>