<div id="colorlib-hero" class="js-fullheight" data-section="home">
  <h1>List Subjects</h1>
  <% @subjects.each do |subject| %>
        <li><%= link_to subject.name , supervisor_subject_path(subject) , class:"btn btn-info" %></li>
  <%end%>
</div>