<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ModalCLogin" class="myModal">
  <%= form_for [:trainer,@course] , url: trainer_course_assign_trainer_path(@course) do |f|%>
    <div class="field">
        <%= f.label "Add Trainers" %><br/>
          <%= collection_select(:trainers, :id, @find_trainers , :id, :name, {}, {:multiple => true, class: "ui fluid  selection dropdown"}) %>
    </div>
    <%= f.button t(".assgin_trainers"), class: "btn btn-primary", type:"sumbit" %>
  <% end %>
</div>
