.header {
	top: 0px;
	width: 100%;
	background-color: black;
	z-index: 3;
	position: fixed;
}
.header > li {
	float:right;
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}
.header > li:hover {
	background-color: white;
}
.header > li:hover > .link_to{
	color: black;
}
.header > li > .link_to{
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	font-family: "Arial"
}