<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
  <div class="text-center">
    <div class="author-img" style="background-image: url(/assets/about.jpg);"></div>
    <h1 id="colorlib-logo"><a href="index.html"><%#= current_trainee.name %></a></h1>
    <span class="position"><%#= current_trainee.email %></span>
  </div>
  <nav id="colorlib-main-menu" role="navigation" class="navbar">
    <div id="navbar" class="collapse">
      <ul>
        <li><a><%= current_trainee.name if trainee_signed_in? %></a></li>
        <li><a><%= current_trainer.name if trainer_signed_in? %></a></li>
      </ul>
    </div>
  </nav>
</aside>
